@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    perspective: 1000px;
    overflow: hidden;
}

#tilting-png {
    width: 650px;
    height: auto;

    position: absolute;
    top: 95px;
    right: 95px;
            

    transition: transform 0.15s ease-out; 
            

    backface-visibility: hidden;
    transform-style: preserve-3d;
    image-rendering: -webkit-optimize-contrast; /* Keeps it crisp */
    will-change: transform;
            

    transform: translateZ(0);
}

.introduction {
    border: 2px solid #333; 
    position: absolute;
    top: 35px;
    left: 35px;
    padding: 0px;            
    width: 300px;              
    border-radius: 8px;        
    background-image: linear-gradient(
    45deg,
    hsl(0deg 0% 0%) 0%,
    hsl(344deg 0% 19%) 13%,
    hsl(344deg 0% 37%) 28%,
    hsl(344deg 0% 57%) 61%,
    hsl(344deg 0% 78%) 83%,
    hsl(0deg 0% 100%) 100%
     );
    text-align: center;        
}

.introduction h1 {
    font-family: Quicksand;
    color: black;
    text-shadow: 0px 0px 2px #000000;
}

.introductions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
}

.introductions h2 {
    font-family: Quicksand;
    color: white;
    position: absolute;
    left: 65px;
    top: 137.5px;
}

.infos>.info {
    border: 2px solid #333; 
    position: absolute;
    top: 300.0px;
    left: 35px;
    padding: 0px;            
    width: 120px;              
    border-radius: 8px;        
    background-image: linear-gradient(
    45deg,
    hsl(0deg 0% 0%) 0%,
    hsl(344deg 0% 19%) 13%,
    hsl(344deg 0% 37%) 28%,
    hsl(344deg 0% 57%) 61%,
    hsl(344deg 0% 78%) 83%,
    hsl(0deg 0% 100%) 100%
     );
    text-align: center;  
}

.infos>.info h3 {
    font-family: Quicksand;
    font-size: 28px;
    color: black;
    text-shadow: 0px 0px 2px #000000;
}
.infos h4 {
    font-family: Quicksand;
    font-size: 26px;
    color: white;
    position: absolute;
    left: 65px;
    top: 400px;
}

.infos>h5 {
    font-family: Quicksand;
    font-size: 26px;
    color: white;
    position: absolute;
    top: 530px;
    left: 65px;
}

.infos a {
    color: rgb(255, 255, 255);    
    background-color: rgb(104, 104, 104);        
    border: 2px solid rgb(104, 104, 104);
    border-radius: 10px; 
    padding: 5px 9px; 
    text-decoration: none; 
    display: inline-block;
    outline: none;
}

.downloads>.download {
    border: 2px solid #333; 
    position: absolute;
    top: 560.0px;
    right: 465px;
    padding: 0px;            
    width: 300px;              
    border-radius: 8px;        
    background-image: linear-gradient(
    45deg,
    hsl(0deg 0% 0%) 0%,
    hsl(344deg 0% 19%) 13%,
    hsl(344deg 0% 37%) 28%,
    hsl(344deg 0% 57%) 61%,
    hsl(344deg 0% 78%) 83%,
    hsl(0deg 0% 100%) 100%
     );
    text-align: center;    
}

.downloads>.download>h1 {
    font-family: Quicksand;
    color: black;
    text-shadow: 0px 0px 2px #000000;
}

.downloads>h2 {
    font-family: Quicksand;
    color: white;
    position: absolute;
    right: 410px;
    top: 640px;
}

.downloads>.dwnld-btn {
    color: rgb(255, 255, 255);    
    background-color: rgb(104, 104, 104);        
    border: 2px solid rgb(104, 104, 104);
    border-radius: 10px; 
    padding: 6px 9px; 
    display: inline-block;
    outline: none;
    position: absolute;
    top: 710px;
    right: 600px;
}

.downloads>.dwnld-btn>a {
    font-family: Quicksand;
    text-decoration: none;
    color: white;
}
