@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');


body {
    margin: 0;
    min-height: 100vh;
    background-color: #1a1a1a;
    font-family: 'Quicksand', sans-serif;
    color: white;
    display: block;
    flex-direction: column;
    padding: 50px;
    box-sizing: border-box;
    overflow-x: hidden;
}


.arrow-container {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.5s ease;
  z-index: 999;
}


.arrow {
  width: 35px;
  height: 35px;
  
 
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  

  border-radius: 3px;
  

  transform: rotate(45deg);
  

  animation: bounce 2s infinite;
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0) rotate(45deg);}
  40% {transform: translateY(-10px) rotate(45deg);}
  60% {transform: translateY(-5px) rotate(45deg);}
}


.fade-out {
  opacity: 0;
  pointer-events: none;
}

canvas {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    pointer-events: none;
}


a {
    text-decoration: none !important;
    color: white !important;
    font-size: 22px; 
}


#tilting-png {
    position: fixed; 
    top: 50px;
    right: 50px;
    width: 35vw; 
    max-width: 550px;
    height: auto;
    transition: transform 0.2s ease;
}

#tilting-png:hover{
    transform: scale(1.05);
}


.introductions, .infos, .downloads {
    position: relative;
    z-index: 2;
    max-width: 55%; 
    margin-bottom: 60px;
}


.introduction, .info, .download {
    border: 2px solid #333; 
    padding: 10px 30px;
    width: fit-content;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #000 0%, #444 100%);
    margin-bottom: 20px;
}


h1 { font-size: 45px; margin: 0; color: white; }
h3 { font-size: 35px; margin: 0; color: white; }
h2 { font-size: 28px; line-height: 1.5; margin: 20px 0 0 10px; font-weight: normal; }
h4 { font-size: 26px; line-height: 1.5; margin: 20px 0 0 10px; color: #ffffff; }
h5 { font-size: 22px; margin: 20px 0 0 10px; }


.infos a, .dwnld-btn, .dwnld-btn-old {
    background-color: #333;
    border: 2px solid #555;
    border-radius: 10px;
    padding: 12px 20px;
    display: inline-block;
    margin: 10px 5px;
    transition: background 0.3s;
}

.dwnld-btn:hover, .dwnld-btn-old:hover {
    background-color: #555;
}


@media (max-width: 1100px) {
    #tilting-png {
        display: none !important; 
    }
    
    .introductions, .infos, .downloads {
        max-width: 100%;
        padding: 0;
        text-align: center;
    }

    .introduction, .info, .download {
        margin: 0 auto 20px auto;
    }
    
    h1 { font-size: 35px; }
    h2, h4 { font-size: 22px; margin-left: 0; }
}